<app-navbar></app-navbar>
<div class="container">
<h1 class=" border border-primary border-2 rounded custom" style=" text-align: center;">Complaint Table</h1>
</div>
<table class="table text-center">
  <thead>
    <tr>
      <th>Complain ID</th>
      <th>Complain</th>
      <th>Priority</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let complaint of complaints">
      <td>{{complaint.id}}</td>
      <td>{{complaint.complain}}</td>
      <td>{{complaint.priority}}</td>
      <td>{{complaint.type}}</td>
    </tr>
  </tbody>
</table>
