<mat-toolbar color="primary">
  <span><a routerLink="/" mat-icon-button><img mat-icon-button height="50px" src="assets/logo.png" alt="">Complaint_Reso</a></span>
  <span class="example-spacer"></span>
  <span><a mat-icon-button routerLink="/signup">Signup</a></span>
</mat-toolbar>

<div class="container text-center">
  <img src="assets/unnamed.png" alt="Login Image" width="130px" >
  <form action="" >
    <mat-form-field class="width-align" appearance="fill">
      <mat-label>Username</mat-label>
      <input type="text" matInput>
    </mat-form-field>
    <mat-form-field class="width-align" appearance="fill">
      <mat-label>Password</mat-label>
      <input type="password" matInput>
    </mat-form-field>
    <div class="container text-center">
      <button mat-raised-button color="primary">Login</button>
      <button mat-raised-button style="margin-left: 25px;" color="warn">Reset</button>
    </div>

  </form>
</div>
